{% extends "_base.html" %}
{% block content %}

<section id="about">								
	<h1>About Me</h1>
	<p>
		 My name is David Paule, and I am a Computing Scientist and Engineer living in <a href="https://goo.gl/maps/sNDuLYez4yt" target="_blank"><b>Glasgow (Scotland)</b></a>. I am originally from <a href="https://goo.gl/maps/M1kFzeiXaet" target="_blank"><b>Tenerife (Spain)</b></a>, a paradisal island in the middle of the Atlantic - Whims of fate, <a href="http://www.tenerife-information-centre.com/tenerife-flag.html", target="_blank">Tenerife and Scotland have the same flag! </a><img src="static/images/tenerife.png" style="margin-top: -10px;" align="middle" width="20" height="15">
	</p>

	<p>
		I am part of the <a href="https://www.gla.ac.uk/schools/computing/research/researchoverview/informationretrieval/" target="_blank">Information Retrieval Group</a> at the <b>University of Glasgow</b>, where I have successfully defended my <a href="research.html"><b>PhD Thesis</b></a> at the School of Computing Science. My work was supervised by Professor <a href="http://www.dcs.gla.ac.uk/~ounis/" target="_blank">Iadh Ounis</a>, <a href="http://www.dcs.gla.ac.uk/~craigm/" target="_blank">Dr Craig McDonald</a> and <a href="https://www.strath.ac.uk/staff/moshfeghiyashardr/" target="_blank">Dr Yashar Moshfeghi</a>.
	</p>
	<p>
		During my PhD, I had the opportunity of conducting interdisciplinary research and published <a href="publications.html">papers</a> that have contributed to the fields of Computing Sciences, as well as Social Sciences and Geographic Information Sciences.
	</p>
	<br>
	<p>
		In this page, you can have a look at my <b><a href="static/docs/cv.pdf" target="_blank">CV</a></b>, learn more about my <b><a href="research.html">research</a></b> and <b><a href="publications.html">publications</a></b>, and explore my <b><a href="code.html">code</a></b> and <b><a href="talks.html">talks</a></b>. 
	</p>
</section>

{% endblock %}

