{% extends "_base.html" %}
{% block content %}

<section id="research">
<h1>PhD Thesis</h1>
<h2> Summary </h2>
<p>
	In my PhD Thesis, I aimed to tackle the problem of inferring the geolocation of individual non-geotagged social media posts at a fine-grained level (i.e. building or neighbour level) using pieces of evidence from the post (text and metadata). To this end, I have proposed novel models and methods that can geolocalise a post with an average error of 1 km distance. Besides, I demonstrated the generalisation and effectiveness of such models in a real-world practical application related to the detection of traffic incidents using social media. Due to the lack of geotagged posts in Social Media streams, this work provides scientists with an enhanced sample of quality geolocated social media posts for their analysis and applications.
</p>
<br>

<p>
	<a href="http://theses.gla.ac.uk/41007/1/2019GonzalezPaulePhD.pdf"  target="_blank">
		<h3>Download it and have a wee look!</h3>
	</a>
</p>

<div id="sample-thesis">
	<a href="http://theses.gla.ac.uk/41007/1/2019GonzalezPaulePhD.pdf"  target="_blank">
			<img src="static/images/thesis-front.jpg" align="center" alt="Thesis Front">
		</a>
	</div>

</section>

{% endblock %}